.excel__table {
  position: absolute;
  left: 0;
  right: 0;
  top: $header-height + $toolbar-height + $formula-height;
  overflow-x: auto;
  overflow-y: auto;
  padding-bottom: 2px;
  max-height: calc(100vh - 98px);
  
  .row {
    display: flex;
    flex-direction: row;
    min-height: 20px;
    height: $row-height;
  }

  .row-info {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $info-cell-width;
    height: 100%;
    border: 1px solid $border-color;
    background: #f8f9fa;
    border-top: none;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .row-data {
    display: flex;
  }

  .column {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f9fa;
    min-width: 40px;
    width: $cell-width;
    border: 1px solid $border-color;
    border-top: 0;
    border-left: 0;
    height: 100%;
    position: relative;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;  
    -khtml-user-select: none;    
    -moz-user-select: none;   
    -ms-user-select: none;     
    user-select: none;
  }

  .cell {
    min-width: 40px;
    padding: 5px;
    width: $cell-width;
    height: 100%;
    border: 1px solid #e2e3e3;
    border-top: 0;
    border-left: 0;
    color: #111;
    white-space: nowrap;
    outline: none;
    overflow: hidden;

    &.selected {
      border: none;
      outline: 2px solid #3c74ff;
      z-index: 2;
    }
  }

  .col-resize {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 4px;
    background: #2196f3;
    cursor: col-resize;
    opacity: 0;
    z-index: 2;
    
    &:hover {
      opacity: 1!important;
    }
  }
  
  .row-resize {
    height: 4px;
    right: 0;
    left: 0;
    bottom: 0;
    background: #2196f3;
    position: absolute;
    cursor: row-resize;
    opacity: 0;
    z-index: 2;

    &:hover {
      opacity: 1!important;
    }
  }
}
